In [1]:
import pandas as pd 
from sqlalchemy import create_engine
from datetime import timedelta, datetime, tzinfo
from zipfile import ZipFile
import collections

In [2]:
#data frame for legal status and pop
legal_df = pd.read_csv("legaldata.csv")

In [3]:
legal_df.head(3)

,State,Pop,legalWeedStatus,medicinalWeedStatus,decriminalizedWeedStatus,state
0,Alabama,4908621,Fully Illegal,False,False,Alabama
1,Alaska,734002,Fully Legal,True,True,Alaska
2,Arizona,7378494,Mixed,True,False,Arizona

In [6]:
#data frame for legal status and pop
MVR_df = pd.read_csv("mvdeaths.csv")

In [7]:
MVR_df.head(4)

,Year,State,Motor Vehicle Deaths - state of residence,Traffic deaths - state of incident,"Deaths per 100,000 population","Traffic deaths per 10,000 motor vehicles","Traffic deaths - per 100,000,000 vehicle miles"
0,2017,U.S. Total,"40,231","37,133",12.4,1.4,1.2
1,2017,Alabama,"1,034",948,21.2,1.9,1.3
2,2017,Alaska,101,79,13.7,1.0,1.4
3,2017,Arizona,"1,017","1,000",14.5,1.7,1.5