In [1]:
# Dependencies
from sqlalchemy import create_engine
from datetime import timedelta, datetime, tzinfo
from zipfile import ZipFile
import collections
import psycopg2
import requests
import json
import pandas as pd

In [2]:
##Import the csv data

In [3]:
#data frame for legal status and pop
lgpure_df = pd.read_csv("legaldata.csv")
#data frame for mvr deaths
MVR_df = pd.read_csv("mvdeaths.csv")
#data frame for overdose deaths
overdose_df = pd.read_csv("overdose.csv")

In [4]:
####legal status for map

In [5]:
lgpure_df.head(3)

,State,Pop,legalWeedStatus,medicinalWeedStatus,decriminalizedWeedStatus,state
0,Alabama,4908621,Fully Illegal,False,False,Alabama
1,Alaska,734002,Fully Legal,True,True,Alaska
2,Arizona,7378494,Mixed,True,False,Arizona

In [6]:
lgpure_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     51 non-null     object
 1   Pop                       51 non-null     int64
 2   legalWeedStatus           51 non-null     object
 3   medicinalWeedStatus       51 non-null     bool
 4   decriminalizedWeedStatus  51 non-null     bool
 5   state                     51 non-null     object
dtypes: bool(2), int64(1), object(3)
memory usage: 1.8+ KB

In [7]:
##df to join to other df (MVR and Overdose)
legal_df = lgpure_df.drop(columns=["state","medicinalWeedStatus","decriminalizedWeedStatus"])
legal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State            51 non-null     object
 1   Pop              51 non-null     int64
 2   legalWeedStatus  51 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [8]:
###df for legal map

In [9]:
legal_mapdf = legal_df.drop(columns=["Pop"])
legal_mapdf.head()

        State legalWeedStatus
0     Alabama   Fully Illegal
1      Alaska     Fully Legal
2     Arizona           Mixed
3    Arkansas           Mixed
4  California     Fully Legal

In [10]:
###export to csv
legal_mapdf.to_csv(r'C:\Users\jcaravella\Documents\Project2\Main_data\state_status.csv', index = False,header=True)
legal_mapdf.to_json(r'C:\Users\jcaravella\Documents\Project2\Main_data\state_status.json')#, index = False,header=True)

In [11]:
####MVR info

In [12]:
MVR_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 7 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Year                                            408 non-null    int64
 1   State                                           408 non-null    object
 2   Motor Vehicle Deaths - state of residence       408 non-null    int64
 3   Traffic deaths - state of incident              408 non-null    int64
 4   Deaths  per 100,000 population                  408 non-null    float64
 5   Traffic deaths  per 10,000 motor vehicles       408 non-null    float64
 6   Traffic deaths - per 100,000,000 vehicle miles  408 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 22.4+ KB

In [13]:
##drop to the same years as of od deaths
years = ['2015','2016','2017']
mvr_neededyears =MVR_df[MVR_df.Year.isin(years)]
mvr_neededyears.head()

,Year,State,Motor Vehicle Deaths - state of residence,Traffic deaths - state of incident,"Deaths per 100,000 population","Traffic deaths per 10,000 motor vehicles","Traffic deaths - per 100,000,000 vehicle miles"
0,2017,Alabama,1034,948,21.2,1.9,1.3
1,2016,Alabama,1158,1122,23.8,2.1,1.6
2,2015,Alabama,962,849,19.8,1.6,1.3
8,2017,Alaska,101,79,13.7,1.0,1.4
9,2016,Alaska,97,81,13.1,1.0,1.5

In [14]:
#####Filtering and joining

In [15]:
##Join legal status
mvr_joined =  mvr_neededyears.join(legal_df.set_index(['State']), on=['State'], how='left')
mvr_joined.head()
#mvr_status = mvr_joined.drop.na()

,Year,State,Motor Vehicle Deaths - state of residence,Traffic deaths - state of incident,"Deaths per 100,000 population","Traffic deaths per 10,000 motor vehicles","Traffic deaths - per 100,000,000 vehicle miles",Pop,legalWeedStatus
0,2017,Alabama,1034,948,21.2,1.9,1.3,4908621,Fully Illegal
1,2016,Alabama,1158,1122,23.8,2.1,1.6,4908621,Fully Illegal
2,2015,Alabama,962,849,19.8,1.6,1.3,4908621,Fully Illegal
8,2017,Alaska,101,79,13.7,1.0,1.4,734002,Fully Legal
9,2016,Alaska,97,81,13.1,1.0,1.5,734002,Fully Legal

In [16]:
#drop na
mvr_status = mvr_joined.dropna()
mvr_status.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 402
Data columns (total 9 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Year                                            153 non-null    int64
 1   State                                           153 non-null    object
 2   Motor Vehicle Deaths - state of residence       153 non-null    int64
 3   Traffic deaths - state of incident              153 non-null    int64
 4   Deaths  per 100,000 population                  153 non-null    float64
 5   Traffic deaths  per 10,000 motor vehicles       153 non-null    float64
 6   Traffic deaths - per 100,000,000 vehicle miles  153 non-null    float64
 7   Pop                                             153 non-null    int64
 8   legalWeedStatus                                 153 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 12.0+ KB

In [17]:
mvr_status.head(3)

,Year,State,Motor Vehicle Deaths - state of residence,Traffic deaths - state of incident,"Deaths per 100,000 population","Traffic deaths per 10,000 motor vehicles","Traffic deaths - per 100,000,000 vehicle miles",Pop,legalWeedStatus
0,2017,Alabama,1034,948,21.2,1.9,1.3,4908621,Fully Illegal
1,2016,Alabama,1158,1122,23.8,2.1,1.6,4908621,Fully Illegal
2,2015,Alabama,962,849,19.8,1.6,1.3,4908621,Fully Illegal

In [18]:
###Dropping all columuns I don't need
mvr_state_yr = mvr_status.drop(columns=["Deaths  per 100,000 population","Motor Vehicle Deaths - state of residence","Traffic deaths  per 10,000 motor vehicles","Traffic deaths - per 100,000,000 vehicle miles","Pop"])
###Rename traffic deaths
mvr_state_yr = mvr_state_yr.rename(columns={"Traffic deaths - state of incident":"MV_Deaths"})
mvr_state_yr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 402
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             153 non-null    int64
 1   State            153 non-null    object
 2   MV_Deaths        153 non-null    int64
 3   legalWeedStatus  153 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.0+ KB

In [19]:
####Overdose info
overdose_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28224 entries, 0 to 28223
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          28224 non-null  object
 1   Year                           28224 non-null  int64
 2   Month                          28224 non-null  object
 3   Period                         28224 non-null  object
 4   Indicator                      28224 non-null  object
 5   Data Value                     22892 non-null  float64
 6   Percent Complete               28224 non-null  object
 7   Percent Pending Investigation  28224 non-null  float64
 8   State Name                     28224 non-null  object
 9   Footnote                       28224 non-null  object
 10  Footnote Symbol                28224 non-null  object
 11  Predicted Value                17345 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 2.6+ MB

In [20]:
####Initial filter####

In [21]:
###filter clean to only columns I need

##od to the same years as mvr
overdose = overdose_df[overdose_df.Year.isin(years)]
#states, indicator, year
od_drop_df_na = overdose.drop(columns=["Period","State","Percent Complete","Percent Pending Investigation","Footnote","Footnote Symbol","Footnote Symbol","Predicted Value"])
#drop nan
od_df = od_drop_df_na.dropna()


###join the status
od_df = od_drop_df_na.join(legal_mapdf.set_index(['State']), on=['State Name'],how='left')
od_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18144 entries, 0 to 27983
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             18144 non-null  int64
 1   Month            18144 non-null  object
 2   Indicator        18144 non-null  object
 3   Data Value       13702 non-null  float64
 4   State Name       18144 non-null  object
 5   legalWeedStatus  18144 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 992.2+ KB

In [22]:
###Sum up by month

In [23]:
####First filtor to needed indicators
totaldeaths1 = od_df[od_df['Indicator']=='Number of Deaths']
totaldeaths =  totaldeaths1.drop(columns=['Indicator'])
totaldeaths.dropna()
totaldeaths.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1836 entries, 4 to 27977
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1836 non-null   int64
 1   Month            1836 non-null   object
 2   Data Value       1836 non-null   float64
 3   State Name       1836 non-null   object
 4   legalWeedStatus  1836 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 86.1+ KB

In [24]:
#Change name of Colum for death counts

In [25]:
#rename column name
totaldeaths = totaldeaths.rename(columns={"Data Value":"Total_Deaths"})

totaldeaths.head()

    Year     Month  Total_Deaths State Name legalWeedStatus
4   2015     April        4133.0     Alaska     Fully Legal
16  2015    August        4222.0     Alaska     Fully Legal
30  2015  December        4193.0     Alaska     Fully Legal
45  2015  February        4084.0     Alaska     Fully Legal
49  2015   January        4034.0     Alaska     Fully Legal

In [26]:
##sum by year and state

In [27]:
Deaths_yr_states = totaldeaths.groupby(['State Name','Year'])['Total_Deaths'].sum().reset_index()
Deaths_yr_states.head()

  State Name  Year  Total_Deaths
0    Alabama  2015      607641.0
1    Alabama  2016      608611.0
2    Alabama  2017      623769.0
3     Alaska  2015       50086.0
4     Alaska  2016       51141.0

In [28]:
################OD sum

In [29]:
#Filter to OD
OD1 = od_df[od_df['Indicator']=='Number of Drug Overdose Deaths']
totalod =  OD1.drop(columns=['Indicator'])
totalod.dropna()
totalod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1836 entries, 0 to 27978
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1836 non-null   int64
 1   Month            1836 non-null   object
 2   Data Value       1836 non-null   float64
 3   State Name       1836 non-null   object
 4   legalWeedStatus  1836 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 86.1+ KB

In [30]:
#rename column name
totalod = totalod.rename(columns={"Data Value":"Total_OD_Deaths"})

totalod.head()

    Year     Month  Total_OD_Deaths State Name legalWeedStatus
0   2015     April            126.0     Alaska     Fully Legal
17  2015    August            124.0     Alaska     Fully Legal
25  2015  December            121.0     Alaska     Fully Legal
40  2015  February            127.0     Alaska     Fully Legal
50  2015   January            126.0     Alaska     Fully Legal

In [31]:
#sum by state year and status
od_yr_states = totalod.groupby(['State Name','Year'])['Total_OD_Deaths'].sum().reset_index()
od_yr_states.head()

  State Name  Year  Total_OD_Deaths
0    Alabama  2015           8818.0
1    Alabama  2016           8324.0
2    Alabama  2017           9551.0
3     Alaska  2015           1472.0
4     Alaska  2016           1594.0

In [32]:
##sum by year legal
#od_status_year = totalod.groupby(['legalWeedStatus','Year'])['Total_OD_Deaths'].sum().reset_index()
#od_status_year.info()

In [33]:
####OD and deaths
Deaths_yr_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State Name    153 non-null    object
 1   Year          153 non-null    int64
 2   Total_Deaths  153 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.7+ KB

In [34]:
mvr_state_yr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 402
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             153 non-null    int64
 1   State            153 non-null    object
 2   MV_Deaths        153 non-null    int64
 3   legalWeedStatus  153 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.0+ KB

In [35]:
od_yr_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State Name       153 non-null    object
 1   Year             153 non-null    int64
 2   Total_OD_Deaths  153 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.7+ KB

In [36]:
####State Year

State_year = mvr_state_yr.join(Deaths_yr_states.set_index(['Year','State Name']),on=['Year','State'],how='left')
###Add #OD
State_year_counts = State_year.join(od_yr_states.set_index(['Year','State Name']),on=['Year','State'],how='left')

In [37]:
State_year_counts.head()

   Year    State  MV_Deaths legalWeedStatus  Total_Deaths  Total_OD_Deaths
0  2017  Alabama        948   Fully Illegal      623769.0           9551.0
1  2016  Alabama       1122   Fully Illegal      608611.0           8324.0
2  2015  Alabama        849   Fully Illegal      607641.0           8818.0
8  2017   Alaska         79     Fully Legal       51597.0           1571.0
9  2016   Alaska         81     Fully Legal       51141.0           1594.0

In [38]:
##sum by year legal
Status_Counts =State_year_counts.groupby(['legalWeedStatus']).sum().reset_index()
Status_Counts.head()

  legalWeedStatus    Year  MV_Deaths  Total_Deaths  Total_OD_Deaths
0   Fully Illegal   72576      23051    16442563.0         303403.0
1     Fully Legal   66528      21676    21482996.0         462863.0
2           Mixed  169344      66246    58663863.0        1314549.0

In [44]:
##sum by year legal
State_Counts =State_year_counts.groupby(['legalWeedStatus','State']).sum().reset_index()
State_Counts = State_Counts.drop(columns=['Year'])
State_Counts['OverdosePercent'] = State_Counts['Total_OD_Deaths']/State_Counts['Total_Deaths']
State_Counts['MVPercent'] = State_Counts['MV_Deaths']/State_Counts['Total_Deaths']
State_Counts.head()

,legalWeedStatus,State,MV_Deaths,Total_Deaths,Total_OD_Deaths,OverdosePercent,MVPercent
0,Fully Illegal,Alabama,2919,1840021.0,26693.0,0.014507,0.001586
1,Fully Illegal,Idaho,726,475742.0,8000.0,0.016816,0.001526
2,Fully Illegal,Kansas,1231,925159.0,11471.0,0.012399,0.001331
3,Fully Illegal,Kentucky,2349,1685606.0,49178.0,0.029175,0.001394
4,Fully Illegal,Mississippi,2104,1110201.0,11751.0,0.010585,0.001895

In [45]:
##sum by year legal
State_year =State_year_counts.groupby(['legalWeedStatus','State','Year']).sum().reset_index()
#State_year = State_Counts.drop(columns=['Year'])
State_year['OverdosePercent'] = State_year['Total_OD_Deaths']/State_year['Total_Deaths']
State_year['MVPercent'] = State_year['MV_Deaths']/State_year['Total_Deaths']
State_year.head()

,legalWeedStatus,State,Year,MV_Deaths,Total_Deaths,Total_OD_Deaths,OverdosePercent,MVPercent
0,Fully Illegal,Alabama,2015,849,607641.0,8818.0,0.014512,0.001397
1,Fully Illegal,Alabama,2016,1122,608611.0,8324.0,0.013677,0.001844
2,Fully Illegal,Alabama,2017,948,623769.0,9551.0,0.015312,0.001520
3,Fully Illegal,Idaho,2015,216,153781.0,2570.0,0.016712,0.001405
4,Fully Illegal,Idaho,2016,266,157810.0,2623.0,0.016621,0.001686

In [48]:
State_Counts.to_csv(r'C:\Users\jcaravella\Documents\Project2\Main_data\state_level.csv', index = False,header=True)
State_Counts.to_json(r'C:\Users\jcaravella\Documents\Project2\Main_data\state_level.json')

In [49]:
State_year.to_csv(r'C:\Users\jcaravella\Documents\Project2\Main_data\state_w_year.csv', index = False,header=True)
State_year.to_json(r'C:\Users\jcaravella\Documents\Project2\Main_data\state_w_year.json')

In [50]:
##sum by year legal
Status_Counts =State_Counts.groupby(['legalWeedStatus']).sum().reset_index()
Status_Counts['OverdosePercent'] = Status_Counts['Total_OD_Deaths']/Status_Counts['Total_Deaths']
Status_Counts['MVPercent'] = Status_Counts['MV_Deaths']/Status_Counts['Total_Deaths']
Status_Counts.head()

,legalWeedStatus,MV_Deaths,Total_Deaths,Total_OD_Deaths,OverdosePercent,MVPercent
0,Fully Illegal,23051,16442563.0,303403.0,0.018452,0.001402
1,Fully Legal,21676,21482996.0,462863.0,0.021546,0.001009
2,Mixed,66246,58663863.0,1314549.0,0.022408,0.001129

In [51]:
Status_Counts.to_csv(r'C:\Users\jcaravella\Documents\Project2\Main_data\legalstatus_level.csv', index = False,header=True)
Status_Counts.to_csv(r'C:\Users\jcaravella\Documents\Project2\Jason_html\static\data\legalstatus_level.csv', index = False,header=True)
Status_Counts.to_json(r'C:\Users\jcaravella\Documents\Project2\Main_data\legalstatus_level.json')
Status_Counts.to_json(r'C:\Users\jcaravella\Documents\Project2\Jason_html\legalstatus_level.json')

In [52]:
##sum by year legal
Status_w_year =State_year.groupby(['legalWeedStatus','Year']).sum().reset_index()
Status_w_year['OverdosePercent'] = Status_w_year['Total_OD_Deaths']/Status_w_year['Total_Deaths']
Status_w_year['MVPercent'] = Status_w_year['MV_Deaths']/Status_w_year['Total_Deaths']
Status_w_year.head()

,legalWeedStatus,Year,MV_Deaths,Total_Deaths,Total_OD_Deaths,OverdosePercent,MVPercent
0,Fully Illegal,2015,7262,5410542.0,89453.0,0.016533,0.001342
1,Fully Illegal,2016,8131,5441650.0,99669.0,0.018316,0.001494
2,Fully Illegal,2017,7658,5590371.0,114281.0,0.020442,0.001370
3,Fully Legal,2015,6632,7034178.0,141214.0,0.020075,0.000943
4,Fully Legal,2016,7752,7132055.0,154115.0,0.021609,0.001087

In [53]:
Status_w_year.to_csv(r'C:\Users\jcaravella\Documents\Project2\Jason_html\Status_w_year.csv', index = False,header=True)
Status_w_year.to_json(r'C:\Users\jcaravella\Documents\Project2\Main_data\Status_w_year.json')

In [ ]:
############Stop unless sending to postgres###################

In [ ]:
############Stop unless sending to postgres###################

In [43]:
#rds_connection_string = f"{dbuser}<insert user name>:<insert password>@localhost:5432/customer_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')
password = "Hooch#12"
dbuser = "postgres"
rds_connection_string = f"{dbuser}:{password}@localhost:5432/Project2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [46]:
engine.table_names()

['legalstatus_level', 'state_level', 'state_status']

In [47]:
#push status level to pgadmin
Status_Counts.to_sql(name='legalstatus_level', con=engine, if_exists='replace', index=False)
State_Counts.to_sql(name='state_level', con=engine, if_exists='replace', index=False)
legal_mapdf.to_sql(name='state_status', con=engine, if_exists='replace', index=False)